LSTM/code/videos
LSTM/code/old_code
LSTM/code/skeleton_npy
LSTM/code/dataset
LSTM/code/test_log
LSTM/code/engine_test_log
*.DS_Store
*.pyc

SkeletonMHI_ObjectDetection/code/__pycache__/*
LSTM/code/Draw/__pycache__/*
LSTM/code/__pycache__/*
Transformer/code/data