<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet"/>
        <style>
            * {
                font-family: 'Nunito', sans-serif;
                word-break: break-all;
            }
        </style>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="./Start_page.html" style="font-size: 48pt; font-weight: 900; color:white; padding-left: 30px;">LG U+</a>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="./Guide_video.html" style="font-size: 25pt; font-weight: 500; color:white; padding-left:70px; padding-top: 30px;">How to use</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Feature_page.html" style="font-size: 25pt; font-weight: 500; color:#D0006F; padding-left:30px; padding-top: 30px;">Feature</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- content -->
        <div id="content1" style="width: 44%; height:90%; float: left;margin-top:10%;margin-left: 7%;">
            <p style="font-size: 40pt; font-weight: 1000"><stat style="color: #D0006F;">컴퓨터 비전</stat>을 활용한<br> <stat style="color: #D0006F;">AI </stat>트레이너!</p>
            <p style="font-size: 20pt; font-weight: 300">성균관대학교 소프트웨어학과와<br>LG U+가 산학협력 프로젝트를 통해 만든 프로그램입니다.<br>스쿼트, 런지, 푸쉬업에 대한 수십만개의 데이터를 학습했습니다.<br> media pipe를 사용하여 사람의 관절을 추출했고,<br>LSTM을 사용하여 운동을 인식하도록 했습니다.</p>
        </div>
        <div id="content2" style="width: 49%; height:100%; float: right;">
            <video src="../img/balpyo.webm" controls style="width: 80%; height:auto; margin-top: 20%; outline: auto;">
                이 브라우저에서 지원하지 않는 영상입니다.
             </video>
        </div>
    </body>
</html>